<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502514669957-utd6qe0m0h8jgmgis5n70nsdq183lab3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502514669957-utd6qe0m0h8jgmgis5n70nsdq183lab3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>502514669957-1m7158jr6evpf9npae3acgeeal2jha2q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmHLrbDMvBTo6PDRTNXKTFlVUY7Am79Uo</string>
	<key>GCM_SENDER_ID</key>
	<string>502514669957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Treat</string>
	<key>PROJECT_ID</key>
	<string>treat-96076</string>
	<key>STORAGE_BUCKET</key>
	<string>treat-96076.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502514669957:ios:407bd9509da81b77758cec</string>
</dict>
</plist>